[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
coverage = "*"
pytest-django = "*"
flake8 = "*"
mypy = "*"
isort = "*"
django-rest-framework = "*"
pre-commit = "*"

[dev-packages]

[requires]
python_version = "3.10"
